body{
  background: #35A7FF !important;  
  overflow: hidden;
}



.container{
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  top: 0;
}


.main{
  position:  relative;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size:45px ;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  transition: all 1.5s ease;
  transform: scale(1);
  top: 0;
}

.home{
  margin-right: 20px;
}

.im{
  width: 300px ;
  margin-left: 20px;
}


.paperwave{
  position: fixed;
  width: 100%;
  height: 100%;
}

#mycanvas{
  width: 100%;
  height: 100%;
}

.scup{
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transform: scale(0.7);
  transition: all 1.5s ease;
  color: #fff;
  font-family: open sans;
  font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ab{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading{
  font-size: 35px;
  width: ;
}

.tet{
  font-size:18px ;
}

.abtext{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

.al{
  width:80% ;
}


.products{
  position: absolute;
  top: 200%;
  width: 100%;
  height: 100%;
  transform: scale(0.7);
  transition: all 1.5s ease;
  color: #fff;
  font-family: open sans;
  font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  position: absolute;
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lr{
  width: 500px;
  color: #fff;
  font-size: 18px;
  text-align: justify;
}

.h{
  text-align: center;
}

.l2{
  background: green;
} 